/* import palette */

configuration {
  show-icons: true;
  icon-theme: "Papirus-Dark";
}

/* theme */
@import "nightfox.rasi"

/* window configuration */
window {
  width: 600px;
  padding: 15px;
  border: 2px;
  border-radius: 8px;
  border-color: @blue;
  background-color: @background;
}

/* inputbar configuration */
inputbar {
  children: [prompt, entry];
  spacing: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: @selection;
}

prompt {
  text-colot: @green;
}

entry {
  text-color: @foreground;
}

/* elements list */
listview {
  lines: 8;
  columns: 1;
  padding: 10px 0px;
  background-color: @background;
}

element {
  padding: 8px;
  border-radius: 5px;
  background-color: transparent;
}

element normal.normal {
  background-color: transparent;
}

element alternate.normal {
  background-color: transparent;
}

/* non selected elements */
element-text, element-icon{
  background-color: transparent;
  text-color: inherit;
}

element-icon {
  size: 24px;
  margin: 0px 10px 0px 0px;
}

element-text {
  text-color: @foreground;
  vertical-align: 0.5;
}

/* selected element */
elected.selected {
  background-color: @selection;
}

element-text.selected {
  text-color: @cyan;
}

