/* ====================| MELTs ROFI CONFIG |==================== */

configuration {
    show-icons: false;
    
    /* Display icons for modes */
    display-combi: "󰀻 ";
    display-window: "󰖲 ";
    
    /* Clean formats */
    drun-display-format: "{name}";
    /* {c} shows only the app class/id, removing the long title */
    window-format: "{t}";
    
    combi-hide-mode-prefix: true;
}

@import "style.rasi"

/* Window configuration */
window {
    width: 400px;
    border: 1px;
    border-radius: 8px;
    border-color: @cyan;
    background-color: @background;
}

mainbox {
    padding: 10px;
    background-color: transparent;
}

/* Input bar */
inputbar {
    children: [prompt, entry];
    spacing: 8px;
    padding: 8px;
    border-radius: 5px;
    background-color: @selection;
}

prompt {
    background-color: transparent;
    text-color: @cyan;
}

entry {
    background-color: transparent;
    text-color: @foreground;
    /* Removes the "Type to filter" text */
    placeholder: "";
}

/* Elements list */
listview {
    lines: 8;
    columns: 1;
    padding: 10px 0px 0px 0px;
    background-color: transparent;
    border: 0px;
    scrollbar: false;
}

element {
    padding: 8px;
    border-radius: 5px;
    background-color: transparent;
    text-color: @foreground;
}

/* States reset */
element normal.normal,
element alternate.normal,
element normal.active,
element alternate.active {
    background-color: transparent;
    text-color: @foreground;
}

/* Selected element */
element selected.normal,
element selected.active {
    background-color: @selection;
    text-color: @cyan;
}

element-text {
    vertical-align: 0.5;
    background-color: transparent;
    text-color: inherit;
}