/* =============== NIGHTFOX PALETTE =============== */

* {
    background: #192330;
    foreground: #cdcecf;
    selection: #2d3848;
    comment:    #6b7a8c;
    red:        #c94f6d;
    cyan:       #50a5a4;
    green:      #58b57a;
    blue:       #4c7a9e;

    /* Shortcut per rofi */
    background-color: @background;
    text-color: @foreground;
}