
[Unit]
Description=check if home backup is needed

[Service]
Type=oneshot
ExecStart=/home/melt/dotfiles/scripts/backup_monitor.sh

[Install]
WantedBy=default.target