[Unit]
Description=Power usage monitor for Waybar
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/check_power_usage.sh
Restart=always
RestartSec=3

[Install]
WantedBy=graphical-session.target